[Unit]
Description=Dominator daemon
After=network.target

[Service]
ExecStart=/usr/local/sbin/dominator
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=infinity
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StartLimitBurst=0
User=dominator
Group=dominator

[Install]
WantedBy=multi-user.target
