[Unit]
Description=Hypervisor
After=network.target

[Service]
KillMode=process
ExecStart=/usr/local/sbin/hypervisor
ExecStop=/usr/local/sbin/hypervisor stop
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
