[Unit]
Description=Image Unpacker daemon
After=network.target

[Service]
ExecStart=/usr/local/sbin/image-unpacker
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
