[Unit]
Description=Dominator imageserver daemon
After=network.target

[Service]
ExecStart=/usr/local/sbin/imageserver
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StartLimitBurst=0
User=imageserver
Group=imageserver

[Install]
WantedBy=multi-user.target
