[Unit]
Description=Imaginator image builder service
After=remote-fs.target network.target

[Service]
Environment=HOME=%h
ExecStart=/usr/local/sbin/imaginator
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
StartLimitIntervalSec=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
